<footer class="mt-auto text-white-50 bg-dark fixed-bottom py-3">
    <p class="text-center">Cover template for <a href="https://www.microverse.org/" class="text-white">Microverse</a>, by <a href="https://github.com/AbdumurodovaZulfizar" class="text-white">Zulfizar Abdumurodova</a>.</p>
  </footer>